body {
background-color: black;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: red;
.assign {
display: flex;
padding: 10px;
margin: 10px; 
  background-color: gray;
}
.assign img {
width: 100px; padding: 10px;
}
color: [blue];
text-align: center;
}
